.footerBg {
  background-color: var(--bs-primary);
}

.socialIcon {
  font-size: x-large;
  height: 24px;
  width: 24px;
  color: var(--bs-white);
}

.socialIconSmall {
  font-size: x-large;
  height: 24px;
  width: 24px;
  color: var(--bs-white);
}
